[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group ldap/oran-gerrit-ric-app-ml-committers
	owner = group saml/oran-gerrit-ric-app-ml-committers
	read = group GitHub Replication
[project]
	description = Code for making xApps from Acumos model microservices
