[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/oran-gerrit-ric-app-ml-committers
	read = group GitHub Replication
[project]
	description = ARCHIVED- 2021-09-27 at the request of the project\nCode for making xApps from Acumos model microservices
	state = read only
[plugin "its-jira"]
	enabled = true
